.nav-item {
    padding: 0 10px;
    color: #383838 !important;
    font-size: 1.35em;
}

.nav-item:hover {
    color: #6d6d6d !important;
    text-decoration: none;  
}

.active-nav-item {
    color: #00d8ff !important;
}


