.section_1 {
    width: 80%;
    margin: 5vh auto 1vh;
}

.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    margin: 1rem 0;

    a {
        background: #f4f4f4;
        color: #000000;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }

    a:hover {
        background: #e4e4e4;
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }
}

.listTextStyle{
    font-size: 0.9em;
    color: #383838 !important;
    margin: 0;
}

.listContainer{
    margin-top: 7.2vh;
}

.blogURLstyle {
    text-decoration: none !important;
}

.blogURLstyle {
    text-decoration: none !important;
}

.listGroupStyle {
    background-color: #f4f4f4;
    padding: 8px 14px;
}

.listGroupStyle:hover {
    color: #6d6d6d !important;
    background-color: #e4e4e4;
}

