.secOne {
    min-height: 1000px;
}

.secTwo {
    min-height: 1000px;
}

.secThree {
    min-height: 1000px;
}

.section_1 {
    width: 80%;
    margin: 5vh auto 1vh;
}

.indexTitleContainer {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.indexTitle {
    width: 90%; 
    margin: 0 auto; 
    // margin: 10px 0 20px;
  }

.indexTitle span {
    background:#ffffff; 
    padding:0 10px; 
  }

  .aboutMeText {
    padding: 65px 0;
    text-align: center;
    font-size: 0.95em;
}

.mySkillSetSVGContainer{
    padding: 70px 0;
}

.leftSpacer {
    
}