.nav-item {
    color: #383838 !important;
    font-size: 24px !important;
}

.nav-item:hover {
    color: #6d6d6d !important;
    text-decoration: none;  
}

.active-nav-item {
    color: #00d8ff !important;
}

.versionText{
    font-size: 0.5em;
    margin: 0 10px;
}


