.content {
    min-height: calc(100vh - 75px);
}

.footer {
    height: 50px;
}

.mainContainerBody {
    background-image: linear-gradient(rgba(94, 50, 147,0), rgba(94, 50, 147,1));
    font-family: "Source Sans Pro", sans-serif;
}