.techBox{
    color: #000 !important;
    background: #F1EDF5;
    padding: 3px 10px;
    border:  #5e3293 !important;
    border-radius: 16px;
    display: inline-block;
    margin: 0.35vh 0.5vw;
    font-size: 0.8em;
    font-weight: 700;
}

.projectButton {
    color: #000 !important;
    background: #ffffff;
    padding: 10px 25px;
    border: 4px solid #5e3293 !important;
    border-radius: 6px;
    display: inline-block;
}

.projectButton:hover {
    // color: #00d8ff !important;
    border-radius: 50px;
    border-color: #00d8ff !important;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.projectDescription{
    margin: 2vh 0;
}

.urlSize{
    text-decoration:none !important;
    color:#000;
}

.buttonContainer{
    display: inline-block;
    margin: 5px;
}

.buttonContainerContainer{
    text-align: center;
}

.mainCardContainer{
    min-width: 16rem; 
    margin: 20px auto;
}